<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
	<menu>

		<add id="TechSolve_TextTranslation::translation" title="TextTranslation By Mcfadyen" module="TechSolve_TextTranslation" sortOrder="20" parent="Magento_Backend::system_tools" action="texttranslation/translation" resource="TechSolve_TextTranslation::translation"/>

	</menu>
</config>